/*
Nicholas Meyer
*/

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

p {
    margin-top: 0em;
    margin-bottom: 0em;
}

div#backspace {
    font-size: 250%;
}

div#display {
    /*width: 70%;*/
    width: 900px;
    background: #00DD88;
    border: 2px #00AA88 solid;
    height: 30%;
    font-size: 400%;
    text-align: right;
    overflow-y: auto;
}

div.num {
    width: 20%;
    height: 30%;
    background: #0099FF;
    border: 2px #0077CC solid;
    display: table-cell;
    text-align: center;
    font-size: 400%;
}

div.operator {
    width: 20%;
    height: 30%;
    font-size: 400%;
}

div.maintable {
    display: table;
    /*width: 70%;*/
    width: 900px;
    height: 100%;
}

div.maintablerow {
    display: table-row;
    width: 100%;
    height: 100%;
}

div.operatortable {
    float: right;
    width: 30%;
    display: table;
    height: 50%;
    /*display: table-cell;*/
}

div.buttontable {
    float: left;
    width: 70%;
    display: table;
    height: 50%;
    /*display: table-cell;*/
}

div.buttonrow {
    display: table-row;
    height: 30%;
}

div.operatorrow {
    display: table-row;
    /*height: 30%;*/
    width: 80%;
}

div.operator {
    /*width: 10%;*/
    height: 30%;
    background: #0099FF;
    border: 2px #0077CC solid;
    text-align: center;
    display: table-cell;
}

/* Responsive CSS */

@-ms-viewport {
    width: device-width;
}

@media only screen and (max-width: 900px) {
    div#display {
	width: 99%;
    }

    div.maintable {
	width: 99%;
    }
}

@media only screen and (max-width: 450px) {
    div.operatortable {
	width: 40%;
    }
    
    div.buttontable {
	width: 60%;
    }    
}

@media only screen and (max-width: 300px) {
    div.operatortable {
	font-size: 70%;
    }

    div.buttontable {
	font-size: 70%;
    }
}

@media only screen and (max-width: 250px) {
    div.operatortable {
	font-size: 50%;
    }

    div.buttontable {
	font-size: 50%;
    }
}

@media only screen and (max-width: 200px) {
    div.operatortable {
	font-size: 30%;
    }

    div.buttontable {
	font-size: 30%;
    }
}

@media only screen and (max-width: 100px) {
    div.operatortable {
	width: 50%;
    }

    div.buttontable {
	width: 50%;
    }
}